@media  (max-width: 1150px)  {
    .header__navigation__link {
        font-size: 1.2rem;
        padding:  30px 12px 28px;  
    }

    .contact__container__elements--soc {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

}

@media  (max-width: 1050px)  {
    .contact__container__elements h5 {
        font-size: 1.2rem;
        margin-bottom: 20px
    }

    .contact__p {
        padding:  5px;
        font-size: 1rem;
    }

}

@media  (max-width: 900px)  {

    .aside {
        width: 100%;
        height: 500px;
        position:static;
        z-index: 1;
        margin-left: 0;
    }

    .main {
        margin: 0 auto;
    }

    .section__header {
        text-align: center;
    }

    .header__navigation__link {
        font-size: 1rem;
        padding:  30px 8px 32px;  
    }

    .header__lang {
        width: 25px;
        height: 25px;
        margin: 29px 0 0 5px;
    }

    .main__image__text {
        height: 70px;
        font-size: 1.4rem
    }

    .contact__p {
        font-size: 0.7rem;
    }

    .contact__container__elements h5 {
        font-size: 1rem;
    }

}



@media  (max-width: 700px)  {

    .nav__dropdown {
        display: block;
    }

    .logo {
        width: 60px;
        height: 40px;
    }

    .display {
        display: none;
    }

    .none {
        display: block;
    }

    .header__navigation {
        background-color: #fff;
    }

    .header__navigation__left {
        height: auto;
    }

    .header__navigation__ul {
        display: none;
    }

    .section__header {
        margin: 55px 0 20px 0;
    }

    .main__image {
        margin-top: 54px;
    }

    .main__image__text {
        height: 40px;
        font-size: 1rem
    }

    .services__container { 
        margin: 3% 1%;
    }

    .gallery-content {
        padding: 16px 0; 
        max-width: 1000px;
        width: 100%;
    }

    .gallery-content__div {
        width: 100%;
    }

    .gallery__section__text {
        top: 13%;
        font-size: 0.7rem;
        padding: 3px;
    }

    .gallery__section__div{
        width:110px;
        height: 80px;
    
    }
    
    .gallery__section__div img {
        height: 80px;
    }

    .client__content img {
        width: 130px;
        height: 95px;
        margin: 5px;
    }

    .contact {
        width: calc(100% - 20%);
        margin: 40px auto; 
    }

    .contact__header {
        margin: 45px 0 20px 0;
    }

    .contact__p {
        font-size: 1rem;
        padding: 7px;
    }

}